.panel-container {
	width: 100%;
	.panel-heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1.5rem;
		.panel-tabs {
			display: flex;
			.tab {
				padding: .5rem;
				border-radius: var(--radius) var(--radius) 0 0;
				box-shadow: 0 -5px 10px var(--shadowlight), 0 -5px 10px var(--shadowlight) inset;
				box-shadow: 0 -5px 10px var(--shadowlight);
				min-width: 100px;
				color: var(--purple);
				font-size: 14px;
				display: grid;
				background: var(--light);
				border: 2px solid white;
				border-bottom: none;
				place-items: center;
				transition: .5s ease;
				cursor: pointer;
				&:not(:last-of-type) {
					margin-left: .5rem;
				}
				&:not(.active):hover {
					background: var(--light2);
					// border-color: var(--yellow);
					// color: white;
				}
			}
			.active {
				border: none;
				background-color: #fff;
				box-shadow: 0 -5px 10px var(--light);
			}
		}
		.panel-breadcrumb {
			display: flex;
			align-items: center;
			margin-right: auto;
			height: 40px;
			li {
				a {
					color: var(--black);
					font-size: 12px;
					transition: .3s ease-out;
				}
				&:not(.active) {
					margin-left: .5rem;
					&:after {
						content: "/";
						font-size: 12px;
						padding-right: .4rem;
						color: var(--black);
					}
					&:hover a,
					&:active a {
						color: var(--purple);
					}
				}
				&.active a {
					color: var(--purple);
					font-size: 18px;
					font-weight: 900;
					cursor: default;
				}
			}
		}
	}
	.panel-body {
		position: relative;
		background: white;
		border-radius: var(--radius);
		padding: 1.5rem;
		box-shadow: 0 3px 10px var(--shadow);
		.table-filters {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: .75em;
			padding-bottom: 1rem;
			.filters-label {
				color: var(--purple);
				margin-left: 1rem;
				display: flex;
				align-items: center;
				i {
					margin-left: .3rem;
					font-size: 24px;
				}
			}
			.form-element {
				border: 1px solid var(--light2);
				border-radius: var(--radius);
				padding: .5rem .75rem;
				color: var(--light2);
				font-size: 14px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				// margin-left: .75rem;
				// flex:1;
				input,
				select {
					border: none;
					margin-right: .5rem;
					color: var(--purple);
					flex: 1;
				}
				input {
					border-bottom: 1px dashed var(--purple);
					flex: 1;
				}
				label {
					white-space: nowrap;
				}
				&:focus-within {
					border-color: var(--purple);
					// input{
					// 	border-bottom-style: solid;
					// }
				}
				&.col input {
					width: 10vw;
				}
				.select2-container--default{
					height: 24px;
					.select2-selection--single{
						height: unset;
						padding: 0;
						border:none;
					}
				}
			}
			> button {
				background: var(--yellow);
				color: white;
				border: none;
				padding: .5rem;
				border: 1px solid var(--yellow);
				border-radius: var(--radius);
				min-width: 100px;
				transition: .3s ease;
				cursor: pointer;
				&:hover {
					background-color: var(--yellowdark);
					border: 1px solid var(--yellowdark);
				}
			}
			[data-role="more-filters"] {
				font-size: 12px;
				margin-right: .5rem;
				color: var(--purple);
				cursor: pointer;
				border: 1px solid;
				padding: .5rem;
				border-radius: var(--radius);
				cursor: pointer;
				transition: .2s;
				display: flex;
				align-items: center;
				i {
					margin-right: .5rem;
					transform: rotate(90deg);
				}
				&:hover {
					background-color: var(--light2);
					color: var(--purpledark);
				}
			}
		}
		.select2-container{
			width: 100% !important;
		}
	}
	.panel-footer {
		border-top: 1px dashed var(--light2);
		background: white;
		border-radius: var(--radius);
		padding: 1rem 2rem;
		box-shadow: 0 3px 10px var(--shadow);
		font-size: 14px;
		color: var(--purpledark);
	}
	.pagination {
		direction: ltr;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		a,
		span, input {
			margin-right: .5rem;
		}
		a  {
			min-width: 25px;
			height: 25px;	
			padding: 0 .5rem;
			display: grid;
			place-items: center;
			background: var(--light);
			border-radius: 50px;
			transition: .2s;
			color: var(--purple);
			line-height: 27px;
			i{
				line-height: 25px;
			}
			&:last-of-type {
				margin: 0;
			}
			&:hover,&:active{
				background-color: var(--light2);
			}
			&:active{
				// transform: scale(.9);
				background:var(--yellow);
				color: white;
			}
			&.active{
				background: var(--purple);
				color: white;
			}
			&[data-next] , &[data-prev]{
				padding: 0;
			}
		}
		input{
			max-width: 50px;
			height: 25px;
			border-radius: 50px;
			border: 1px solid var(--light2);
			text-align: center;
			color: var(--purple);
			transition: .3s;
			&:focus{
				border-color: var(--purple);
			}
		}
	}
}
